@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600&family=Inria+Sans:ital,wght@1,300&display=swap');
* {box-sizing: border-box;
margin: 0 auto;}
html {scroll-behavior: smooth;}
            
body{font-family: 'Inknut Antiqua', sans-serif; }

div.wrap{
        width: 1280px;
}
h1{ font-size: 40px;}
header {
        padding: 0px 30px;
        background-color: #C69797;
        display: flex;
        align-items: center;/*上下居中*/
        position: sticky;
        top: 0px;
        background-image: url(desktop1/logo.png);
        background-repeat: no-repeat;
        background-position: 25px 10px;
    }


header a {
        color: #ffffff;
        display: block;
        text-decoration: none;}        
    
header h1 {
            margin-right: auto;/*讓 menu 到右邊去*/
    }
    
ul.menu {
                display: flex; 
                list-style: none;
                margin: 0;
                gap: 50px;
                color: aliceblue;
                background-color:#C69797 ;
                height: 120px;
                margin: 0;
                padding: 0;
                font-size: 30px;
                align-items: center;
                }

ul.menu a {
        padding: 10px 20px;
                    }


section.card{
        align-items: center;
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        gap: 10px;

}                
    

section.banner {
            color: white;
            background-image: url(desktop1/banner.png);
            height: 200px;
            background-size: cover;
            padding-top: 50px;
            padding-left: 50px;
            text-align: center;}
    
    
    

ul.menu a:hover{
        color: gold;
        border-radius: 20px;    }

section {
        font-size: 30px;
        width: 100%;
        padding: 10px 30px;
        margin-bottom: 20px;   }
    

h2{text-align: center;
font-size: 40px;  }


div.Himalayan .image
{background-image: url(desktop1/Himalayan\ Sunrise\ Blend.png);}
div.Maple .image
{background-image: url(desktop1/Maple\ Pecan\ Euphoria.jpg);}
div.Mocha .image
{background-image: url(desktop1/Mocha\ Coffee.jpg);}
div.The .image
{background-image: url(desktop1/The\ Red\ Eye.jpg);}

.card{
        width: 280px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
}

div.image{    
        width:100%;
        height:200px;
        background-size: cover;
        border-radius: 20px;}

div.intro{
        color: rgb(0, 0, 0);
        font-size: 19px;
        text-align: center;}

button{ background-color: #BFADAD;
        border-radius: 20px;
        width: 199px;
        font-size: 20px;
        position:relative;
        top:200px;
        flex-wrap:wrap;
}


button a {
        color: #ffffff;
        display: block;
        text-decoration: none;}    
button a:hover{
                color: gold;  }            

div.competition{
        background-image: url(desktop1/coffee\ competition.jpg);
        background-repeat: no-repeat;
        height: 183px; 
        width: 275px;
        display: flex;
        border-radius: 20px;
        float:left;
        margin: 25px 50px;
}

section h1{
        text-align: center;
}

section li{
        list-style: none;
        padding-left: 400px;
}
p.news{
        font-size: 20px;
        padding-left: 400px;
        text-align: justify;
}

hr {
        display: block;
        border-style: inset;
        border-width: 0.5px;
      }
div.button{
list-style: none;
background-color: #BFADAD;
border-radius: 25px;
width: 200px;
text-align: center;
position: relative;
top:-20px;
left: 500px;
font-size:20px;
z-index: -1;

}
div.button1{
        list-style: none;
        background-color: #BFADAD;
        border-radius: 25px;
        width: 200px;
        text-align: center;
        position: relative;
        top:10px;
        left: 500px;
        font-size:20px;}

a { text-decoration: none;
    color: #050505;}

div.button1 a { text-decoration: none;}

div a:hover{
                color: rgb(120, 119, 115);
                border-radius: 20px;    }
div a:hover{
        color: rgb(226, 202, 105);    }                

        footer.below{
                background-color:#C69797 ;
                height: 165px;
                width: 100%;
                background-image: url(desktop1/logo.png);
                background-repeat: no-repeat;
                background-position: 10px 30px;
                line-height:30px ;
                display: flex;
                padding: 15px 180px;
                gap:20px;
                color:#ffffff;
                font-family:'Inria Sans';
        }
        
        h3 {
                font-size: 25px;
                }
        
        p{
                font-size: 20px;}
                
        
        div.social_icons{
                display: flex;
                padding: 10px 20px;
                margin-top: 10px;
                
        }

        footer.below p{
                margin-top: 10px;
                width: 243px;
        }

        .social_icons a {
                display:block;
                width: 80px;
                height: 90px;
                text-indent: -9999px;
                background-repeat: no-repeat;
                margin: 0px;
                float:left;
                }
        
        .social_icons a[href="#instagram"] {
                        background-image: url(desktop1/IG-removebg-preview\ 2.png); 
                    }
                    
        .social_icons a[href="#facebook"] {
                        background-image: url(desktop1/image\ 12.png);
                    }
                    
        .social_icons a[href="#youtube"] {
                        background-image: url(desktop1/image\ 11.png);
                    }